@import "./base.css";

html {
  background-color: #282b30;
}

#app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.none {
  opacity: 0 !important;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.8s linear;
}

.sidebar {
  flex-shrink: 0;
}

.body-content {
  flex-grow: 1;
}

.right-panel {
  flex-shrink: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}
